{% extends "layout.html" %}

{% block page_title %}
  Apply for special collection of large waste items
{% endblock %}

{% block proposition_header %}{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for special collection of large waste items
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>book a collection of a bulky item</li>
      </uL>

      <p>A booking takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="/bulky-waste/property" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>This service can only be used to collect:</p>
      
      <ul class="list list-bullet">
      	<li>household furniture</li>
      	<li>large electrical items</li>
      </ul>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
