{% extends "layout.html" %}

{% block page_title %}
  Apply for special collection of large waste items
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pick your date
      </h1>
      <h2 class="heading-medium">
        1 Station Road, Sutton <a href="property" class="">Change search</a>
      </h2>

      <p class="lede">Your bulky waste collection day is a Tuesday.</p>

      <h3>The next available collection dates are:</h3>

		  <table>
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sofa</td>
      <td>Pink floral</td>
      <td>Remove</td>
    </tr>
  </tbody>
</table>

    </div>
  </div>
</main>

{% endblock %}


