{% extends "layout.html" %}

{% block page_title %}
  Find out your rubbish collection day
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find your property
      </h1>
      <p>
        44 addresses found using GU4 7NW. <a href="property" class="">Change search</a>
      </p>

		  <ul>
		    <li><a href="pick-date">1 Station Road, Sutton</a></li>
		    <li><a href="pick-date">2 Station Road, Sutton</a></li>
		  </ul>

    </div>
  </div>
</main>

{% endblock %}


