{% extends "layout.html" %}

{% block page_title %}
  Find out your rubbish collection day
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find your property
      </h1>
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

		  <form action="property-search" method="get" class="form">

		    <div class="form-group">
		      <label class="form-label-bold" for="q">Enter a house name, street or post code</label>
		      <input type="text" class="form-control" id="q" name="q">
		    </div>
		    
		    <div class="form-group">
		      <input type="submit" class="button" value="Find address">
		    </div>
		    
		  </form>

    </div>
  </div>
</main>

{% endblock %}


