{% extends "layout.html" %}

{% block page_title %}
  SLWP Lot 1 prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        SLWP Lot 1 prototype
      </h1>{{releaseVersion | log }}
      <p>
        These are prototypes of customer interactions for SLWP Lot 1 services.
      </p>
      <h2>Domestic waste</h2>
      <ul class="list list-bullet">
        <li><a href="/bulky-waste">Bulky waste</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


