{% extends "layout.html" %}

{% block page_title %}
  SLWP Lot 1 prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        SLWP Lot 1 prototype
      </h1>
      <p>
        These are prototypes of customer interactions for SLWP Lot 1 services.
      </p>
      <h2 class="heading-large">Domestic waste</h2>
      <h3 class="heading-medium">Household waste collection</h3>
      <ul class="list list-bullet">
        <li><a href="/find-rubbish-collection-day/">Find out my collection day</a></li>
        <li><a href="/report-missed-collection/">Report a missed waste collection</a></li>
        <li><a href="/report-bin-problem/">Report a problem with my container</a></li>
        <li><a href="/request-additional-bin/">Request an extra bin or box</a></li>
      </ul>
      <h3 class="heading-medium">Garden waste collection service</h3>
      <ul class="list list-bullet">
        <li><a href="/join-garden-waste/">Subscribe to the garden waste collection service</a></li>
        <li><a href="/change-garden-waste/">Make a change to my garden waste collection service subscription</a></li>
      </ul>
      <h3 class="heading-medium">Bulky waste</h3>
      <ul class="list list-bullet">
        <li><a href="/request-bulky-waste/">Request for a bulky waste collection</a></li>
        <li><a href="/change-bulky-waste/">Make a change to my bulky waste collection</a></li>
        <li><a href="/cancel-bulky-waste/">Cancel my bulky waste collection</a></li>
      </ul>
      <h3 class="heading-medium">Assisted collections waste</h3>
      <ul class="list list-bullet">
        <li><a href="/request-assisted-collection/">Request for an assisted waste collection</a></li>
        <li><a href="/change-assisted-waste/">Make a change to my assisted waste collection</a></li>
      </ul>


      <h2 class="heading-large">Public bins</h2>



      <h2 class="heading-large">Winter maintenance</h2>
      
      
      <h2 class="heading-large">Street scene</h2>
    </div>
  </div>
</main>

{% endblock %}


